.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
  flex-wrap: wrap;
}

.searchBox {
  width: 100%;
  max-width: 500px;
}

.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
